<div class="close" {{action 'close'}}>&times;</div>
<h4>Add My Organization</h4>

<div>
    <form>
        {{#if centroidError}}
            <div class="alert alert-danger" role="alert">
                Please enter a valid address that shows up on the map.
            </div>
        {{/if}}
        {{#if nameError}}
            <div class="alert alert-danger" role="alert">
                Please enter a name for your organization.
            </div>
        {{/if}}
        {{#if sectorsError}}
            <div class="alert alert-danger" role="alert">
                Please choose a sector.
            </div>
        {{/if}}
        {{#if typesError}}
            <div class="alert alert-danger" role="alert">
                Please choose a type.
            </div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-danger" role="alert">
                Something went wrong. Please try again.
            </div>
        {{/if}}
        {{#if success}}
            <div class="alert alert-success" role="alert">
                Successfully added organization.
            </div>
        {{/if}}

        <div class="add-organization-location-row">
            <div class="add-organization-location-output">
                <div id="add-organization-map" class="add-organization-location-output-map"></div>
                {{#if geocodedAddress}}
                <div class="add-organization-location-output-address">
                    <div class="add-organization-location-output-address-message">
                        Your organization will be placed here. Make sure it's in
                        the right spot on the map.
                    </div>
                    <div class="add-organization-location-output-address-address">
                        {{geocodedAddress}}<br />
                        {{geocodedCity}} {{geocodedState}} {{geocodedZip}}
                    </div>
                    <div class="add-organization-location-output-address-accept">
                        <a href="#" {{action 'useGeocodedAddress'}}>Use this address</a>
                    </div>
                </div>
                {{/if}}

                {{#if geocodeError}}
                <div class="add-organization-location-output-error">
                    Sorry, we couldn't find the address you added. Could you be
                    more specific?
                </div>
                {{/if}}
            </div>
            <div class="add-organization-location-form">
                <div class="form-group">
                    <label for="organization-name">organization name</label>
                    {{input class="form-control" id="organization-name" value=name}}
                </div>

                <div {{bind-attr class=":form-group geocodeError:has-error"}}>
                    <label for="address">address</label>
                    {{input class="form-control" id="address" value=address focus-out="updateCentroid"}}
                </div>

                <div class="form-group">
                    <label for="address2">address line 2</label>
                    {{input class="form-control" id="address2" value=address2}}
                </div>

                <div class="add-organization-location-form-city-state">
                    <div {{bind-attr class=":form-group :field-city geocodeError:has-error"}}>
                        <label for="city">city</label>
                        {{input class="form-control" id="city" value=city focus-out="updateCentroid"}}
                    </div>

                    <div {{bind-attr class=":form-group :field-state geocodeError:has-error"}}>
                        <label for="state">state</label>
                        {{input class="form-control" id="state" value=state focus-out="updateCentroid"}}
                    </div>

                    <div {{bind-attr class=":form-group :field-zip geocodeError:has-error"}}>
                        <label for="zip">zip</label>
                        {{input class="form-control" id="zip" value=zip focus-out="updateCentroid"}}
                    </div>
                </div>

                <div class="add-organization-contact">
                    <div class="form-group field-email">
                        <label for="email">email</label>
                        {{input class="form-control" id="email" type="email" value=email}}
                    </div>
                    <div class="form-group field-phone">
                        <label for="phone">phone</label>
                        {{input class="form-control" id="phone" type="phone" value=phone}}
                    </div>
                </div>

                <div class="add-organization-type">
                    <div class="form-group field-types">
                        <h3>organization types</h3>
                        {{#each type in potentialTypes}}
                        <div>
                            <label>
                                {{view typeCheckbox name=type}}
                                {{type}}
                            </label>
                        </div>
                        {{/each}}
                    </div>
                    <div class="form-group field-sectors">
                        <h3>sectors</h3>
                        {{#each sector in potentialSectors}}
                        <div>
                            <label>
                                {{view sectorCheckbox name=sector}}
                                {{sector}}
                            </label>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" {{bind-attr disabled=submitting}} {{action 'submit'}}>Submit</button>
        </div>
    </form>
</div>
