<div class="modal fade" id="addOrganizationMediaModal" tabindex="-1" role="dialog" aria-labelledby="addOrganizationMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addOrganizationMediaModalLabel">Add media</h4>
            </div>
            <form>
                <div class="modal-body">
                    {{#if error}}
                        <div class="alert alert-danger" role="alert">
                            Something went wrong. Please try again.
                        </div>
                    {{/if}}
                    {{#if success}}
                        <div class="alert alert-success" role="alert">
                            Successfully added video.
                        </div>
                    {{/if}}

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#video" role="tab" data-toggle="tab" {{action 'changeTab' 'video'}}>Video</a></li>
                        <li><a href="#photo" role="tab" data-toggle="tab" {{action 'changeTab' 'photo'}}>Photo</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="video">
                            <div class="form-group">
                                <label>Vimeo or YouTube link</label>
                                {{input class="form-control" type="url" value=videoUrl}}
                            </div>
                        </div>
                        <div class="tab-pane" id="photo">
                            <div class="form-group">
                                <label>Add a photo</label>
                                {{input name="photo" class="form-control" type="file"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'close'}}>Close</button>
                    <button type="submit" class="btn btn-primary" {{action 'submit'}}>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
