<div id="popup-close">&times;</div>

<h2>{{name}}</h2>

<section>
    {{address}}, {{city}}, {{state}}
</section>

<section>
    organization type:{{organization_type}}<br />
    sector: {{food_sector_s}}
</section>

<section>
    (pictures)
</section>

<section>
    (mission)
</section>
