<header>
    <div id="logo">{{#link-to 'index'}}{{t "application.header"}}{{/link-to}}</div>
    <nav id="nav">
        {{#link-to 'about'}}{{t "application.nav.about"}}{{/link-to}}
        {{#link-to 'contact'}}{{t "application.nav.contact"}}{{/link-to}}
        {{#link-to 'news'}}{{t "application.nav.news"}}{{/link-to}}
    </nav>
    <div id="tagline">
        <div>
            {{t "application.tagline"}}
        </div>
        <div class="languages">
            {{#each languages}}
            <a href="#" {{action 'setLocale' code}} {{bind-attr class="active"}}>{{label}}</a>
            {{/each}}
        </div>
    </div>
    <div id="search">
        {{type-ahead data=organizations name="name" action="search" selection=selectedOrganization value=searchText placeholder="Search by name, city, state"}}
        {{#if searchError}}
        <div class="search-error">
            {{t "application.search.error"}}
        </div>
        {{/if}}
    </div>

    {{#link-to 'organizations.list' id="list-button"}}{{/link-to}}
</header>

<div id="map">
    <a href="http://mapbox.com/about/maps" class='mapbox-maplogo' target="_blank">MapBox</a>
</div>

<div id="project-authors">
    {{t "application.project_of"}}
    <a href="http://foodchainworkers.org/" target="_blank">Food Chain Workers Alliance</a> &amp;
    <a href="http://thehandthatfeedsfilm.com/" target="_blank">The Hand That Feeds</a>
</div>

<div id="filters" class="full-height">
    <a href="#" {{action 'clearFilters'}} class="filters-clear">{{t "application.filters.clear"}}</a>
    <h2>{{t "application.filters.header"}}</h2>
    <section class="filters-type">
        <a class="pull-right help-button" href="#" {{action 'openHelpOrganizationTypes'}}>?</a>
        <h3>{{t "application.filters.organization_type"}}</h3>
        {{view App.OrganizationTypeView content=types}}
    </section>
    <section class="filters-sector">
        <h3>{{t "application.filters.industry_type"}}</h3>
        {{view App.SectorView content=sectors}}
    </section>
</div>

{{#link-to 'organizations.add' id="add-organization-button" class="map-ui-button"}}add org{{/link-to}}
<a id="share-button" class="map-ui-button" {{action 'openShare'}}>share</a>

<div id="popup" class="full-height">
    {{outlet}}
</div>

<div id="page" class="full-height full-width">
    {{outlet page}}
</div>

<div id="help" class="full-height full-width">
    {{outlet help}}
</div>

{{outlet modal}}
