<header>
    <div id="logo">{{#link-to 'index'}}{{t "title"}}{{/link-to}}</div>
    <nav id="nav">
        {{#link-to 'about'}}about{{/link-to}}
        {{#link-to 'contact'}}contact{{/link-to}}
        {{#link-to 'news'}}news{{/link-to}}
    </nav>
    <div id="tagline">
        <div>
            An action map for food chain workers &amp; organizations.
        </div>
        <div>
            <a href="#" {{action 'setLocale' 'en'}}>english</a>
            <a href="#" {{action 'setLocale' 'es'}}>español</a>
        </div>
    </div>
    <div id="search">
        {{input class="form-control" type="search" action="search" value=searchText placeholder="Search by name, city, state"}}
    </div>
    <a id="list-button" href="#" {{action 'openOrganizationList'}}>list</a>
</header>

<div id="map"></div>

<div id="filters" class="full-height">
    <h2>filters</h2>
    <section class="filters-type">
        <h3>organization type</h3>
        {{view App.OrganizationTypeView content=organizationTypes}}
    </section>
    <section class="filters-sector">
        <h3>industry type</h3>
        {{view App.SectorView content=sectors}}
    </section>
</div>

<a id="add-organization-button" class="map-ui-button" {{action 'openAddOrganization'}}>add org</a>
<a id="share-button" class="map-ui-button" {{action 'openShare'}}>share</a>

<div id="popup" class="full-height">
    {{outlet popup}}
</div>

<div id="page" class="full-height full-width">
    {{outlet page}}
</div>

{{outlet modal}}
