<div class="close" {{action 'close'}}>&times;</div>

<h1 class="help-header">{{t "help.headers.industries"}}</h1>
<div class="help-types help-industry-types">
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/agriculture.png" />
            <div class="help-types-item-title">
                {{t "help.industries.agriculture_title"}}
            </div>
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.agriculture"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/foodprocessing.png" />
            <div class="help-types-item-title">
                {{t "help.industries.processing_title"}}
            </div>
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.agriculture"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/distribution.png" />
            <div class="help-types-item-title">
                {{t "help.industries.distribution_title"}}
            </div>
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.distribution"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/retail.png" />
            <div class="help-types-item-title">
                {{t "help.industries.retail_title"}}
            </div>
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.retail"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/foodservice.png" />
            <div class="help-types-item-title">
                {{t "help.industries.service_title"}}
            </div>
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.service"}}
        </div>
    </div>
</div>
