<div class="close" {{action 'close'}}>&times;</div>

<h1 class="help-header">Industry Types</h1>
<div class="help-types help-industry-types">
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/agriculture.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.agriculture"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/foodprocessing.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.agriculture"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/distribution.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.distribution"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/retail.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.retail"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/foodservice.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.industries.service"}}
        </div>
    </div>
</div>
