<div class="close" {{action 'close'}}>&times;</div>

<h1 class="help-header">{{t "help.headers.organization_types"}}</h1>
<div class="help-types">
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/advocacy.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.organization_types.advocacy"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/service.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.organization_types.service"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/workerscenter.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.organization_types.workers_center"}}
        </div>
    </div>
    <div class="help-types-item">
        <div class="help-types-item-name">
            <img src="img/union.png" />
        </div>
        <div class="help-types-item-text">
            {{t "help.organization_types.union"}}
        </div>
    </div>
</div>
