<div class="close" {{action 'close'}}>&times;</div>
<div class="row">
    <div class="page-sections">
        <a href="#" {{action 'clear'}} class="news-category-clear">{{t "news.categories.clear"}}</a>
        <h2>{{t "news.categories.header"}}</h2>
        <ul class="news-category-list">
            <li class="news-category-list-item" {{action 'pickFeatured'}} {{bind-attr class="featured:active"}}>{{t "news.categories.featured"}}</li>
        </ul>
        {{view App.NewsCategoryView content=categories}}
    </div>
    <div class="page-content">
        {{#each content}}
        <div class="news-entry">
            <h2 class="news-entry-title">{{title}}</h2>
            <div class="news-entry-meta">
                <div class="news-entry-meta-publication-date">{{publication_date}}</div>
            </div>
            <div class="news-entry-preview">
                {{{preview}}}
            </div>
            <div class="news-entry-link">
                <a href="#" {{action 'openEntry' id}}>{{t "news.read_more"}}</a>
            </div>
        </div>
        {{else}}
        {{t "news.empty"}}
        {{/each}}
    </div>
</div>
