<div class="news-row">
    <div class="page-sections">
        <a href="#" {{action 'clear'}} class="news-category-clear">{{t "news.categories.clear"}}</a>
        <h2 class="news-category-header">{{t "news.categories.header"}}</h2>
        {{view App.NewsCategoryView content=categories}}
    </div>
    <div class="page-content news-entry-list">
        <h1 class="news-header fixed-header">
            {{t "news.header"}}
            <div class="close" {{action 'close'}}>&times;</div>
        </h1>
        {{#each content}}
        <div class="news-entry">
            <div class="news-entry-cover">
                {{{cover}}}
            </div>
            <div class="news-entry-content">
                <h2 class="news-entry-title">
                    {{#if link}}
                    <a {{bind-attr href=link}} target="_blank">{{title}}</a>
                    {{else}}
                    <a {{action 'openEntry' id}}>{{title}}</a>
                    {{/if}}
                </h2>
                <div class="news-entry-meta">
                    <div class="news-entry-meta-publication-date">{{published_on_short}}</div>
                </div>
                <div class="news-entry-preview">
                    {{{preview}}}
                </div>
                <div class="news-entry-link">
                    {{#if link}}
                    <a {{bind-attr href=link}} target="_blank">
                        {{#if read_more_at}}
                        {{t "news.read_more_at"}} {{read_more_at}}
                        {{else}}
                        {{t "news.read_more"}}
                        {{/if}}
                    </a>
                    {{else}}
                    <a href="#" {{action 'openEntry' id}}>{{t "news.read_more"}}</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{else}}
        {{t "news.empty"}}
        {{/each}}
    </div>
</div>
