<div class="organization-header">organization type icon</div>

<div class="organization-row">
    <div class="organization-filters">
        filters that match organization
    </div>

    <div class="organization-details">
        <div class="close" {{action 'close'}}>&times;</div>
        <h2>{{model.name}}</h2>
        <div class="organization-details-contact">
            <div>
                {{model.address_line1}}, {{model.city}}, {{model.state_province}} {{model.postal_code}}
            </div>
            {{#if model.phone}}
            <div class="organization-details-contact-phone">
                {{model.phone}}
            </div>
            {{/if}}
            {{#if model.email}}
            <div class="organization-details-contact-email">
                {{model.email}}
            </div>
            {{/if}}
        </div>

        <div class="organization-details-actions">
            {{#link-to 'share' class="btn btn-primary"}}{{t "organization.actions.share"}}{{/link-to}}
            <a href="#" class="btn btn-primary">{{t "organization.actions.visit"}}</a>
            {{#link-to 'organization.add_media' class="btn btn-primary"}}{{t "organization.actions.add_media"}}{{/link-to}}
        </div>

        {{#if model.media}}
        <div class="organization-details-media">
            {{view App.CarouselView content=model.media}}
        </div>
        {{/if}}

        <div class="organization-mission-statement">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit metus quis orci blandit varius. In sed pulvinar nisi. Vivamus sodales viverra magna in consequat. Nullam porta augue vel enim semper, ut tristique metus semper. Sed eget eros tortor. Aliquam semper rutrum eleifend. Fusce et egestas purus. Vestibulum vitae varius justo. Nam sagittis tristique turpis, nec vestibulum eros molestie quis.
        </div>

        {{#if model.sectors}}
            <section class="organization-sectors">
                <h3>sectors:</h3>
                <ul>
                    {{#each model.sectors}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </section>
        {{/if}}

        {{#if model.types}}
            <section class="organization-types">
                <h3>types:</h3>
                <ul>
                    {{#each model.types}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </section>
        {{/if}}
    </div>
</div>
