<div class="row">
    <div class="page-sections">
        <h2 class="page-sections-header">{{t "page.sections.header"}}</h2>
        <ul class="page-sections-list">
            {{#each sections}}
            <li class="page-sections-list-item">
                <a href="#" {{action "scrollToSection" id bubbles="false"}}>{{name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="close" {{action 'close'}}>&times;</div>
    {{{model}}}
</div>
