<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#share" role="tab" data-toggle="tab">{{t "share.tabs.share"}}</a></li>
                    <li><a href="#embed" role="tab" data-toggle="tab" id="embed-tab">{{t "share.tabs.embed"}}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="share">
                        <div class="form-group">
                            <div class="share-actions">
                                <a href="#" class="btn btn-primary">{{t "share.actions.facebook"}}</a>
                                <a href="#" class="btn btn-primary">{{t "share.actions.twitter"}}</a>
                            </div>
                            {{input class="form-control" type="url" value=this.controllers.application.previousUrl}}
                        </div>
                    </div>
                    <div class="tab-pane" id="embed">
                        {{view view.embedView}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
