<div class="close" {{action 'close'}}>&times;</div>
<div class="organizations-list-headers" {{bind-attr class="sortAscending:sort-ascending:sort-descending"}}>
    <div class="organizations-list-item-name" {{action 'sortBy' 'name'}} {{bind-attr class="sortByName:sorted"}}>
        {{t "organizations_list.headers.name"}}
    </div>
    <div class="organizations-list-item-city" {{action 'sortBy' 'city'}} {{bind-attr class="sortByCity:sorted"}}>
        {{t "organizations_list.headers.city"}}
    </div>
    <div class="organizations-list-item-state" {{action 'sortBy' 'state_province'}} {{bind-attr class="sortByState:sorted"}}>
        {{t "organizations_list.headers.state"}}
    </div>
    <div class="organizations-list-item-types" {{action 'sortBy' 'types'}} {{bind-attr class="sortByTypes:sorted"}}>
        {{t "organizations_list.headers.types"}}
    </div>
    <div class="organizations-list-item-sectors" {{action 'sortBy' 'sectors'}} {{bind-attr class="sortBySectors:sorted"}}>
        {{t "organizations_list.headers.sectors"}}
    </div>
</div>

<div class="organizations-list-add-organization">
    <span>{{t "organizations_list.add.message"}}</span>
    {{#link-to 'organizations.add' id="organizations-list-add-organization-button" class="btn btn-primary pull-right"}}{{t "organizations_list.add.button"}}{{/link-to}}
    <div class="clearfix"></div>
</div>

{{#collection listView contentBinding="controller.content"}}
    <div class="organizations-list-item" {{action 'openOrganization' id}}>
        <div class="organizations-list-item-field organizations-list-item-name">{{name}}</div>
        <div class="organizations-list-item-field organizations-list-item-city">{{city}}</div>
        <div class="organizations-list-item-field organizations-list-item-state">{{state_province}}</div>
        <div class="organizations-list-item-field organizations-list-item-types">
            {{#each types}}
            {{name}}
            {{/each}}
        </div>
        <div class="organizations-list-item-field organizations-list-item-sectors">
            {{#each sectors}}
            {{name}}
            {{/each}}
        </div>
    </div>
{{/collection}}
